extends /_layout.pug

mixin showTombstone(entry)
	article.h-entry(hidden)
		.p-name Gone
		data.dt-deleted(value="1970-01-01T00:00:00")
		for url in entry.properties.url || []
			data.u-url(value=url)

mixin showGalleryEntry(entry)
	-
		const properties = entry.properties || {}
		const permalink = relativeUrl(_.get(properties, 'url[0]'))
	a.h-entry(href=permalink style=`flex:${_.get(properties, 'photo[0].width', _.get(properties, 'video[0].width', 1)) / _.get(properties, 'photo[0].height', _.get(properties, 'video[0].width', 1))}`)
		+showMedia(properties, '', false)

block append main
	//- Some pagination info: https://wiki.postgresql.org/images/3/35/Pagination_Done_the_PostgreSQL_Way.pdf
	simple-live(hidden src="/live")
		| This feed has been updated. 
		a.do-reload(href="#") Reload?
	-
		obj.children = obj.children || []
		const settings = _.get(obj, 'properties.feed-settings[0]') || {}
		const entries = obj.children.slice(firstI)
		const qq = reqUriFull.search(true)
	section.index-category(class=`layout-${settings.layout || 'default'}`)
		if settings.layout === 'gallery'
			each row in helpers.galleryRows(entries)
				.gallery-row
					each entry in row
						if entry.deleted
							+showTombstone(entry)
						else
							try
								+showGalleryEntry(entry)
							catch
								div.tpl-error Error: could not render the entry
		else if settings.layout === 'plain-list'
			ul
				each entry in entries
					li
						if entry.deleted
							+showTombstone(entry)
						else
							try
								- const permalink = relativeUrl(_.get(entry, 'properties.url[0]'))
								a('class'=entry.type.join(' ') href=permalink)= _.get(entry, 'properties.name[0]', 'Untitled')
							catch
								div.tpl-error Error: could not render the entry
		else
			each entry in entries
				if entry.deleted
					+showTombstone(entry)
				else
					try
						article.entry('class'=entry.type.join(' '))
							+showEntry(entry, true)
					catch
						div.tpl-error Error: could not render the entry
	nav.category-nav
		if obj.children.length >= 0
			-
				const href = reqUriFull.clone().search(q => {
					q.before = _.get(_.last(obj.children), 'properties.published[0]')
					q.after = undefined
				}).relativeTo(domainUri).toString()
			a(href=href rel="prev")
				+icon('arrow-down')
				| older
		= ' '
		if qq.before || qq.after
			-
				const href = reqUriFull.clone().search(q => {
					q.before = undefined
					q.after = _.get(_.head(obj.children), 'properties.published[0]')
				}).relativeTo(domainUri).toString()
			a(href=href rel="next")
				+icon('arrow-up')
				| newer
