<%= templates.header(scope) %>
<% var data = scope.data %>
<% var entry = data.entry %>
<% var properties = entry.properties %>
<% var isUntitled = _.isEmpty(properties.name) %>
<% var syndicationName = function (x) {
	if (_.includes(x, 'twitter.com')) return 'Twitter'
	if (_.includes(x, 'facebook.com')) return 'Facebook'
	if (_.includes(x, 'instagram.com')) return 'Instagram'
	if (_.includes(x, 'app.net')) return 'App.net'
	var matches = x.match(/^https?\:\/\/([^\/?#]+)/)
	return (matches && matches[1]) || x
} %>
<% var onlyHttpUrl = function (x) {
	if (_.startsWith(x, 'http://') || _.startsWith(x, 'https://') || _.startsWith(x, '//')) return x;
	return 'javascript:void(0)';
} %>
<main class="site-main entry-main ${ isUntitled ? 'note' : 'article' }-main">
	<article class="entry h-entry ${ isUntitled ? 'note' : 'article' }-entry">
		<header class="entry-header">
			<% if (!isUntitled) { %>
				<h1 class="p-name">
					<a href="${ data.permalink }" class="u-url u-uid" rel="bookmark" tabindex="-1">
						<%- properties.name %>
					</a>
				</h1>
			<% } %>

			posted <time class="dt-published" datetime="${ _.head(properties.published) }">
				<% if (isUntitled) { %>
					<a href="${ data.permalink }" class="u-url u-uid note-permalink" rel="bookmark">
				<% } %>
				<%- moment.utc(_.head(properties.published)).format('dddd, MMMM Do YYYY, HH:mm') %>
				<% if (isUntitled) { %>
					</a>
				<% } %>
			</time>

			<%= templates.entryCiteReplies({ entry: entry, showRel: true, showContent: true }) %>

			<%= templates.entryCiteReposts({ entry: entry, showRel: true }) %>

		</header>

		<%= templates.entryCiteLikes({ entry: entry, showRel: true, addClass: 'entry-content' }) %>

		<% if (!_.isEmpty(properties.content)) { %>
			<div class="entry-content e-content ${ isUntitled ? 'p-name' : '' }">
				<% if (!isUntitled) { %>
					<fragmention-target exact>
				<% } %>
				<% _.forEach(properties.content, function (content) { %>
					<%= content.html || content.value || content %>
				<% }) %>
				<% if (!isUntitled) { %>
					</fragmention-target>
				<% } %>
			</div>
		<% } %>

		<footer class="entry-footer">

			<div class="entry-actions">
				<%= templates.entryActions({ meta: scope.meta, data: data }) %>
			</div>

			<% if (!_.isEmpty(properties.syndication)) { %>
				<div class="entry-syndication">
					<h2>Elsewhere</h2>
					<ul>
						<% _.forEach(properties.syndication, function (repost) { %>
							<li><a class="u-syndication" rel="syndication" href="${ repost }"><%- syndicationName(repost) %></a></li>
						<% }) %>
					</ul>
				</div>
			<% } %>

			<nav class="entry-nav">
				<h2>Navigation</h2>
				<% if (data.hasPrev) { %>
					<a href="${ data.prevHref }" rel="prev"><i class="fa fa-l fa-arrow-left"></i>previous</a>
				<% } %>
				<a rel="up category" class="p-category" href="${ data.categoryHref }">${ data.categoryName }</a>
				<% if (data.hasNext) { %>
					<a href="${ data.nextHref }" rel="next">next<i class="fa fa-r fa-arrow-right"></i></a>
				<% } %>
			</nav>
		</footer>

		<section class="entry-responses">
			<% _.forEach(properties.comment, function (comment) { %>
				<div class="entry-response h-cite">

					<header class="entry-response-header">
						<% _.forEach(comment.properties.author, function (author, i) { %>
							<% if (author.properties) { %>
								<a class="p-author h-card" href="${ onlyHttpUrl(_.head(author.properties.url)) }">
									<img src="${ onlyHttpUrl(_.head(author.properties.photo)) }" alt="Avatar" class="u-photo">
									<span class="p-name"><%- _.head(author.properties.name) %></span>
								</a>
							<% } else { %>
								<%= author %>
							<% } %>
							<%= (i - 1 == _.size(comment.properties.author)) ? ', ' : '' %>
						<% }) %>
						<% if (_.isEmpty(comment.properties.author)) { %>
							Someone
						<% } %>

						<% var responseUrl = onlyHttpUrl(_.head(comment.properties.url)) %>
						<% if (comment['x-sweetroll-verified-like']) { %>
							<a href="${ responseUrl }" class="u-url u-uid">liked this</a>.
						<% } else if (comment['x-sweetroll-verified-repost']) { %>
							<a href="${ responseUrl }" class="u-url u-uid">reposted this</a>.
						<% } else if (comment['x-sweetroll-verified-reply']) { %>
							wrote a <a href="${ responseUrl }" class="u-url u-uid">reply</a><%= _.isEmpty(comment.properties.content) ? '.' : ':' %>
						<% } %>
					</header>

					<% if (comment['x-sweetroll-verified-reply'] && !_.isEmpty(comment.properties.content)) { %>
						<blockquote class="entry-response-content e-content">
							<% _.forEach(comment.properties.content, function (content) { %>
								<%= content.html || content.value || content %>
							<% }) %>
						</blockquote>
					<% } %>

			</div>
			<% }) %>
		</section>

	</article>
</main>
<%= templates.footer(scope) %>
