<% var onlyHttpUrl = function (x) {
	if (_.startsWith(x, 'http://') || _.startsWith(x, 'https://') || _.startsWith(x, '//')) return x
	return 'javascript:void(0)'
} %>
<% var isValidRef = function (x) {
	return _.some(x, function (v) {
		return _.some(scope.entry.properties.url, function (u) {
			return _.startsWith(v, u) || _.startsWith(v.value, u)
		})
	})
} %>
<% _.forEach(scope.entry.properties.comment, function (comment) { %>
	<% if (comment.properties) { %>
		<div class="entry-response p-comment h-cite ${ isValidRef(comment.properties['like-of']) ? 'p-like' : '' }">
			<header class="entry-response-header">

				<% var commentUrl = onlyHttpUrl(_.head(comment.properties.url)) %>
				<% var commentContent = _(comment.properties.content || []).concat(comment.properties.summary || [], comment.properties.name || []).value() %>
				<% var commentIsLike = isValidRef(comment.properties['like-of']) %>
				<% var commentIsRepost = isValidRef(comment.properties['repost-of']) %>
				<% var commentIsReply = isValidRef(comment.properties['in-reply-to']) %>

				<% _.forEach(comment.properties.author, function (author, i) { %>
					<% if (author.properties) { %>
						<a class="p-author h-card" href="${ onlyHttpUrl(_.head(author.properties.url)) }">
							<% if (!_.isEmpty(author.properties.photo)) { %>
								<img src="${ onlyHttpUrl(_.head(author.properties.photo)) }" alt="" class="u-photo">
							<% } %>
							<span class="p-name"><%- _.head(author.properties.name) %></span>
						</a>
					<% } else { %>
						<%= author %>
					<% } %>
					<%= (i - 1 == _.size(comment.properties.author)) ? ', ' : '' %>
				<% }) %>
				<% if (_.isEmpty(comment.properties.author)) { %>
					Someone
				<% } %>

				<% if (commentIsLike) { %>
					<a href="${ commentUrl }" class="u-url u-uid">liked this</a>.
				<% } else if (commentIsRepost) { %>
					<a href="${ commentUrl }" class="u-url u-uid">reposted this</a>.
				<% } else if (commentIsReply) { %>
					wrote a <a href="${ commentUrl }" class="u-url u-uid">reply</a><%= _.isEmpty(commentContent) ? '.' : ':' %>
				<% } else { %>
					wrote a <a href="${ commentUrl }" class="u-url u-uid">mention</a><%= _.isEmpty(commentContent) ? '.' : ':' %>
				<% } %>
			</header>

			<% if (!commentIsLike && !commentIsRepost && !_.isEmpty(commentContent)) { %>
				<blockquote class="entry-response-content e-content">
					<% var content = _.head(commentContent) %>
					<%= content.html || content.value || content %>
				</blockquote>
			<% } %>

			<% if (!_.isEmpty(comment.properties.comment)) { %>
				<section class="entry-response-responses">
					<%= templates.entryComments({ entry: comment }) %>
				</section>
			<% } %>

		</div>
	<% } %>
<% }) %>
