<% var permalink = scope.permalink, entry = scope.entry %>
<% var properties = entry.properties %>
<% var isUntitled = _.isEmpty(properties.name) %>
<li class="h-entry entry-in-list ${ isUntitled ? 'note' : 'article' }-in-list">

	<%= templates.entryCiteReplies({ entry: entry, showRel: false, showContent: false }) %>

	<%= templates.entryCiteReposts({ entry: entry, showRel: false }) %>

	<%= templates.entryCiteLikes({ entry: entry, showRel: false, addClass: '' }) %>

	<% if (isUntitled) { %>
		<% if (!_.isEmpty(properties.content)) { %>
			<div class="e-content p-name entry-main">
				<%= templates.showContent({ properties: properties, long: true }) %>
			</div>
		<% } %>
	<% } else { %>
		<div class="entry-main">
			<a class="u-url p-name" href="${ permalink }"><%- properties.name %></a>
		</div>
	<% } %>

	<footer class="entry-footer">

		<% if (isUntitled && _.isEmpty(properties['like-of'])) { %>
			<%= templates.entryActions({ entry: entry, permalink: permalink }) %>
		<% } %>

		<a class="u-url permalink" href="${ permalink }">
			<i class="fa fa-l fa-clock-o"></i><time class="dt-published" datetime="${ _.head(properties.published) }"><%- moment.utc(_.head(properties.published)).format('MMM Do YYYY, HH:mm') %></time>
		</a>
	</footer>

</li>
